@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'yekan-bl';
    src: url("fonts/YekanBakh-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'yekan-reg';
    src: url("fonts/Yekan-Bakh-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'yekan-heavy';
    src: url("fonts/YekanBakh-Heavy.ttf") format("truetype");
}

@font-face {
    font-family: 'yekan-md';
    src: url("fonts/YekanBakh-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'kalameh-bold';
    src: url("fonts/Kalameh-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'kalameh-black';
    src: url("fonts/KALAMEH-BLACK.TTF") format("truetype");
}

@layer components {
    #__next {
        @apply w-full h-full
    }
}

@layer utilities {
    .no-scroll::-webkit-scrollbar {
        display: none;
    }

    .no-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

* {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #696969;
    width: 3px;
    height: 3px;
    border-radius: 10px;
}